<?xml version="1.0"?>
<sdf version="1.6"
     xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wall" params="name x y yaw length thickness height">

    <model name="${name}">
      <static>true</static>

      <link name="link">
        <collision name="collision">
          <geometry>
            <box>
              <size>${length} ${thickness} ${height}</size>
            </box>
          </geometry>
        </collision>

        <visual name="visual">
          <geometry>
            <box>
              <size>${length} ${thickness} ${height}</size>
            </box>
          </geometry>
        </visual>
      </link>

      <pose>${x} ${y} ${height/2} 0 0 ${yaw}</pose>

    </model>

  </xacro:macro>

</sdf>