<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <!-- Include constants and parts -->
  <xacro:include filename="$(find robot_description)/urdf/diff_terrain/constants.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/diff_terrain/chassis.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/diff_terrain/gazebo_control.xacro"/>
  <!-- <xacro:include filename="$(find robot_description)/urdf/four_wheels/ros2_control.xacro"/> -->
  <xacro:include filename="$(find robot_description)/urdf/constants.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/diff_terrain/wheel.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/tmini_laser.xacro"/>

  <xacro:include filename="$(find robot_description)/urdf/base_link.xacro"/>

  <!-- Set Laser -->
  <xacro:laser_part parent_link="base_link" joint_name="front_laser_joint" xyz="0.2 0 0.10" rpy="0 0 1.5708"/>

  <!-- Create wheels -->
  <xacro:wheel_macro name="rear_left_wheel"   parent="base_link" xyz="-${wheel_separation_x/2}  ${wheel_separation_y/2} ${wheel_radius}" rpy="1.5708 0 0"/>
  <xacro:wheel_macro name="rear_right_wheel"  parent="base_link" xyz="-${wheel_separation_x/2} -${wheel_separation_y/2} ${wheel_radius}" rpy="1.5708 0 0"/>
  <xacro:wheel_macro name="front_left_wheel"  parent="base_link" xyz=" ${wheel_separation_x/2}  ${wheel_separation_y/2} ${wheel_radius}" rpy="1.5708 0 0"/>
  <xacro:wheel_macro name="front_right_wheel" parent="base_link" xyz=" ${wheel_separation_x/2} -${wheel_separation_y/2} ${wheel_radius}" rpy="1.5708 0 0"/>


</robot>